#menu-comments{
    display: none;
}

#toplevel_page_check-email-status{
    display: none;
}

#toplevel_page_wpcf7{
    display: none;
}

#toplevel_page_wc-admin-path--analytics-overview{
    display: none;
}

#menu-posts-elementor_library{
    display: none;
}

#menu-posts-forum{
    display: none;
}

#menu-posts-forum{
    display: none;
}

#toplevel_page_elementor{
    display: none;
}

#menu-posts-forum{
    display: none;
}

#menu-posts-topic{
    display: none;
}

#menu-posts-reply{
    display: none;
}

#menu-posts{
    display: none;
}

#menu-media{
    display: none;
}

#menu-plugins{
    display: none;
}

#menu-tools{
    display: none;
}

#menu-settings{
    display: none;
}

#toplevel_page_edit-post_type-acf-field-group{
    display: none;
}

#toplevel_page_zci_settings{
    display: none;
}

#toplevel_page_wpseo_dashboard{
    display: none;
}

#toplevel_page_mailchimp-for-wp{
    display: none;
}


#toplevel_page_enable-accessibility-admin{
    display: none;
}

#toplevel_page_qsm_dashboard{
    display: none;
}

#toplevel_page_sitepress-multilingual-cms-menu-languages{
    display: none;
}

#toplevel_page_theme-my-login{
    display: none;
}

#toplevel_page_gmailsmtp{
    display: none;
}

#toplevel_page_wps_overview_page{
    display: none;
}

#toplevel_page_wpb-wps-about{
    display: none;
}



